html {
	font: 90%/1.3 arial,sans-serif;
	background:#B9C2CC;
	background-image: url("background4.jpg"); 
	margin: 0px;
	padding:0px;
}

#navigation {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 910px;
    min-width: 800px;
    font-size: 23.2px;
    float: right;
	position:absolute;
	bottom: 700;
    top: 13px;
    margin: 0;
	left: 375px
}

li 
{ 
display:inline;
 padding:0px;
 }
logo {
    position:auto;
    left: 220px;
    margin: 0 auto;
    padding-right: 20000px;
     background:#81BEF7;
     	
 }
     
body {
    font: 90% arial,sans-serif;
    font-style: normal;
    top:0px;
    line-height: 1.88889;
	color: #000000; 
	margin: 0; 
	padding: 0;
}
article{
    position: relative;
}
a:link {
    text-decoration: none;
}
a {
    color: #FFFFFF  ;
    padding-right: 30px;
    font-size:22px;
}
a:hover {
    text-decoration: underline;
}

#sort2 {
    margin-left: 0;
    margin-right: auto;
    width: 90%;
    max-width: 1900px;
    min-width: 1900px;
    background:#2E64FE;
}
#wrapper {
    padding-top:100px;
	min-height:100%;
	margin:0px;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
	margin:0px;
}
#content {
	padding-top:200px; /* Height of the footer element */
}
#footer {
	background:#89A4AB;
	width:100%;
	height:100px;
	position:relative;
	font-size:16px;
	left:0;
	
}
a2{
    color: #000000;
    font-size: 15px;
}
a2:link {
    text-decoration: none;
}
a2:hover {
    cursor: pointer;
    text-decoration: underline;
}

p1 {
    font-size: 15px; 
    
}