<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Coventry University Search Page</title>
        <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="MyApp">
     <div id="logo">
        	<div id="sort2">
        <img src="//cumoodle.coventry.ac.uk/pluginfile.php/1/theme_bcu/logo/1455715946/logo2.png" style="padding-top:8px;padding-left:8px; top:30px;"  id="logo" />
                    <nav>  
                    <div id='navigation'>
                    	<div>
                    	 <a href="main-page.html">
                    	 	<span style="padding-right: 0px;">Home</span></a>
                    
                    		 <a href="search.html">
                    		<span style="padding-right: 0px;">Search</span></a>
                    		 <a href="theta.html">
                    		<span style="padding-right: 0px;">Theta</span></a>
                    		 <a href="Appointments.html">
                    	<span style="padding-right: 0px;">Appointments</span></a>
                    	
                    		 <a href="https://cumoodle.coventry.ac.uk/login/logout.php?sesskey=vBMPTvEXkL" title="Log out">Log out</a>
                    	</div>
                    	</div>
                    	</nav>
             </div>
           </div>
              <div>
                    		
            <div ui-view="" id="ng-view"></div>
			 <!--this is where sthe content will be displayed... -->
			</div>
			
		
<div ui-view></div> 
<div>
  <p1>Get Personal Appointments by Email:</p1>
  <form class="form">
     <input type="text" ng-model="email2" />
     <input type="submit" ng-click="getPersonalAppointments(email2)" value="search" />
     </form>
     <li ng-repeat= "i in PersonalAppointments">
       {{i}}
       </li>
       </div>
       </body>
       </html>