<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Title -->
		<title>Coventry University Students Support</title>
		<!-- Css declaration -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">

		<link rel="stylesheet" type="text/css" href="assets/css/custom.css"> 
		<link rel="stylesheet" type="text/css" href="assets/css/simple-sidebar.css">
		<link rel="stylesheet" href="css/styles.css">
		<!-- Javascript declaration -->
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/angular-route.js"></script>
		<script type="text/javascript" src="assets/js/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="assets/js/angular-sanitize.js"></script>
		<script type="text/javascript" src="assets/js/jquery.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script src="app.js"></script>
		<script src="/controllers/home_ctrl.js"></script>
		<script src="/controllers/user_ctrl.js"></script>
		<script src="/controllers/theta_ctrl.js"></script>
		<script src="/controllers/search_ctrl.js"></script>
		<script src="/controllers/appointment_ctrl.js"></script>
		<script src="/controllers/service.js"></script>
	</head>
 <body ng-app="MyApp">
     <div id="logo">
        	<div id="sort2">
        <img src="//cumoodle.coventry.ac.uk/pluginfile.php/1/theme_bcu/logo/1455715946/logo2.png" style="padding-top:8px;padding-left:8px; top:30px;"  id="logo" />
                    <nav>  
                    <div ng-controller="homeCtrl">
                    <div id='navigation'>
                    	<div>

                    <span ng-if="!authorized"><a ui-sref="home">Home</a></span>
                    <span ng-if="!authorized"><a ui-sref="register">Register</a></span>
                    <span ng-if="!authorized"><a ui-sref="login">Login</a></span>
                    <span ng-if="authorized"><a ui-sref="search">Search</a></span>
                    <span ng-if="authorized"><a ui-sref="theta">Theta</a></span>
                    <span ng-if="authorized"><a ui-sref="appointment">Appointment</a></span>
                    <span ng-if="authorized"><a ui-sref="logout">logout</a></span>
                    		 </div>
                    		 </div>
                    		 </div>

                    	</nav>
             </div>
           </div>
            
                    		
            <!--<div ui-view="" id="ng-view"></div>-->
			 <!--this is where sthe content will be displayed... -->
			</div>
	<!-- Angular app declaration -->

		<div class="container col-sm-12">
			<div class="row">
				<div class="col-sm-8">
					<!-- Rendering view -->
					<div ui-view></div>
					
		</div>
        </div>
        </div>
	</body>
</html>