<body ng-app="MyApp">
<div ui-view></div>
<div ng-init="getAllLocations()"></div>
<div ng-init="getAllLecturer()"></div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3g-15">
                      <!-- Registration form -->
	<h3 class="underline">Appointments</h3>
	<br>
	<br>
<section class="appoint">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<h3 class="underline">Add New Appointments</h3>
			<table class="table">
		    <tr>
		    <th>Title</th>
		    <th>Start Time</th>
		    <th>End Time</th>
		    <th>Date</th>
		    <th>Participant</th>
		    <th>bookable</th>
		    <th>location</th>
		    </tr>
			<tr>
			     <td> <input type="text" ng-model="appointment.title" placeholder="Title" class="input-medium"> </td>
                 <td> <input type="text" ng-model="appointment.startTime" placeholder="i.e: 1330" class="input-medium"> </td>
                 <td> <input type="text" ng-model="appointment.endTime" placeholder="i.e: 1430" class="input-medium"> </td>
                 <td> <input type="text" ng-model="appointment.date" placeholder="20/3/2015" class="input-medium"> </td>
                 <td><select ng-model="appointment.participants">
					    <option ng-selected="{{participants.value == appoint.participants}}"
					            ng-repeat="lec in AllLecturer"
					            value="{{lec.username}}">{{lec.name}}
					    </option>
					</select></td>
                 <td> <input type="checkbox" ng-model="appointment.bookable"  class="input-medium"> </td>
                 <td><select ng-model="appointment.location">
					    <option ng-selected="{{location.value == appointment.location}}"
					            ng-repeat="loca in AllLocations"
					            value="{{loca.name}}">{{loca.name}}
					    </option>
					</select></td>
                 <td> <button type="submit" class="btn btn-primary" ng-click="addAppointment(appointment.title, appointment.startTime, appointment.endTime, appointment.date, appointment.participants, appointment.bookable, appointment.location)">Add Appointment</button> </td>
				</tr>   	
		</table>
		<br>
	</form>
	</section>
<section class="Editappointment">	
		<h3 class="underline">Modify Appointments</h3>
		<table class="table">
		    <tr>
		    <th>id</th>
		    <th>Title</th>
		    <th>Start Time</th>
		    <th>End Time</th>
		    <th>Date</th>
		    <th>Participants</th>
		    <th>bookable</th>
		    <th>location</th>
		    </tr>
            <tr ng-repeat="Editappoint in appointments">
                 <td> <input type="text" ng-model="Editappointment._id" class="input-medium" readonly> </td>
			     <td> <input type="text" ng-model="Editappointment.name" placeholder="Title" class="input-medium"> </td>
                 <td> <input type="text" ng-model="Editappointment.startTime" placeholder="i.e: 1330" class="input-medium"> </td>
                 <td> <input type="text" ng-model="Editappointment.endTime" placeholder="i.e: 1430" class="input-medium"> </td>
                 <td> <input type="text" ng-model="Editappointment.date" placeholder="20/3/2015" class="input-medium"> </td>
                 <td><select ng-model="Editappoint.participants">
					    <option ng-selected="{{participants.value == Editappointment
					</select></td>
                 <td> <input type="checkbox" ng-model="Editappoint.bookable"  class="input-medium"> </td>
                 <td><select ng-model="Editappoint.location">
					    <option ng-selected="{{location.value == Editappointment.location}}"
					            ng-repeat="loca1 in AllLocations"
					            value="{{loca1.name}}">{{loca1.name}}
					    </option>
					</select></td>
                 <td> [<a href ng-click="removeAppoint(Editappoint._id, $index)">Remove</a>] </td>
                 <td> [<a href ng-click="modifyAppoint(Editappoint.name, Editappoint.STime, Editappoint.ETime, Editappoint.DDate, Editappoint.Participants, Editappoint.Bookable, Editappoint.Location)">Save</a>] </td>
            </tr>
            <tr>
            </tr>
	    	</table> <p>{{error}}</p>

</section>
                    </div>
                </div>
            </div>
        </div>
                        <br><br><br>
               
</body>