<body ng-app="MyAapp">
<div ui-view></div>

        <!-- Sidebar -->		        
       <ul class="sidebar-nav">
                
        </div>


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3g-15">
                        
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>