<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Coventry University Theta Page</title>
        
</head>
<body ng-app="MyApp">
   
        
<div ui-view></div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3g-15">
                        <div ng-init="getAllLocations()">
                            <p>Locations:</p>
                            
                         <li ng-repeat= "i in AllLocations">
                             {{i.name}}
                             <br>
                         </li>
                         
                         </div>
                         -----------------
                        <div ng-init="getAllSkills()">
                            <p>Skills:</p>

                         <li ng-repeat= "j in AllSkills">
                            {{j.name}} - id:{{j._id}}
                            <br>
                         </li>
                         
                       </div>
                
                    </div>
                </div>
            </div>
        </div>


</body>

