<body ng-app="MyApp">
<div ui-view></div>

    <div id="wrapper">

        <!-- Sidebar -->		        
       


        <!-- Page Content -->
        <!--<div id="page-content-wrapper">-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3g-15">
                       <div class="alert alert-success" ng-if="register_success">
    <strong>Success!</strong> You are registered successfully.
</div>
<div class="alert alert-success" ng-if="login_success">
    <strong>Success!</strong> Login successfully.
</div>
<div class="alert alert-success" ng-if="login_error">
    Your username or passowrd is not correct.
</div>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputUsername" class="col-sm-4 control-label">Username</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="login.email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-4 control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button type="submit" class="btn btn-default" ng-click="logIn(login.email, login.password)">Log In</button>
        </div>
    </div>
    	<!-- Back button -->
</form>

    <a href="/">Back</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>