<body ng-app="MyApp">
<div ui-view></div>

    <!--<div id="wrapper">-->

        <!-- Sidebar -->		        
        


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3g-15">
                   <!-- Calling logOut method -->
<div ng-init="logOut()"></div>

<!-- Message -->
<p>Logout successfully!</p>

<!-- Back button -->
<p>
	<a href="/">Back</a>
</p>

                    </div>
                </div>
            </div>
        </div>


    </div>
</body>