<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Coventry University Search Page</title>
        <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="MyApp">
     
                    		
            <div ui-view="" id="ng-view"></div>
			 <!--this is where the content will be displayed... -->
			</div>
<div ui-view></div>
<div>
    <p1>Search Person By Email:</p1>
    <form class="form"> 
    <input type="text" ng-model="email0" />
    <input type="submit" ng-click="getPersonEmail(email0)" value="
    search" />
    </form>
     <p>Results:</p>
    <li ng-repeat= "i in PersonEmail">
        {{i}}
        </li>
        </div>
        <div>
            <p1>Search Person By Skill:</p1>
            <form class="form">
                <input type="text" ng-model="skill" />
                <input type="submit" ng-click="getPersonBySkill(skill)" value="search" />
                </form>
                <p>Results:</p>
                <li ng-repeat= "i in PersonBySkill">
                    Name: {{i.name}}   ---   Email: {{i.email}}
                    </li>
                    </div> 
                    
                     <div>
                            <p>Availability for a Person by Email:</p>
                            
                          <form class="form">
                            <input type="text" ng-model="email1" />
                            <input type="submit" ng-click="getAvailabilityByPerson(email1)" value="search" />
                          </form>
                         <p>Results:</p>
                         <li ng-repeat= "i in AvailabilityByPerson">
                            <P>@</P>
                            <P>Module Name: {{i.name}}</p>
                            <P>Module Code: {{i.short}}</p>
                            <P>notes: {{i.notes}}</p>
                            <P>date: {{i.date}}</p>
                            <P>timeStart: {{i.timeStart}}</p>
                            <P>recurringWeekly: {{i.recurringWeekly}}</p>
                            **********************
                         </li>
                    
                         </div>     
                    </body>
</html>